<form [formGroup]="form" (submit)="onSubmit($event)">
  <div class="field has-addons">
    <div class="control is-expanded">
      <input
        formControlName="title"
        type="text"
        placeholder="New task"
        class="input is-large"
        tabindex="1"
        autofocus
      />
    </div>
    <div class="control">
      <button type="submit" class="button is-info is-large" tabindex="3">
        Add
      </button>
    </div>
  </div>
  <div class="field">
    <textarea
      formControlName="description"
      placeholder="Description (optional)"
      class="textarea"
      tabindex="2"
    ></textarea>
  </div>
</form>
