<div class="section">
  <h1 class="title is-1">Tasks</h1>
  <app-new-task-form (submit)="onCreate($event)"></app-new-task-form>
</div>
<div class="section task-list">
  <app-task
    *ngFor="let task of tasks$ | async; trackBy: trackByKey"
    [task]="task"
    (delete)="onDelete($event)"
    (edit)="onEdit($event)"
  ></app-task>
</div>
