:host {
  cursor: pointer;
  background-color: rgba(black, 0.05);
  border: 1px solid rgba(black, 0.1);
  display: block;
  margin-bottom: 10px;
  transition: all 350ms ease-in-out;

  &:hover {
    background-color: rgba(black, 0.1);
    border-color: rgba(black, 0.15);
  }

  &.completed {
    background-color: rgba(green, 0.3);
    opacity: 0.5;

    .task-title {
      text-decoration: line-through;
    }
  }
}

.task-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 13px;
}

.checkbox {
  flex-grow: 0;
  flex-basis: 25px;
}

.task-title {
  cursor: pointer;
  flex-grow: 1;
}

.edit-btn {
  margin-right: 20px;
}

.task-edit-title {
  flex: 1;
  margin-bottom: 8px;
  padding: 4px;
  font-size: 14px;
}

.task-edit-description {
  padding: 4px;
  font-size: 14px;
  height: 80px;
}

.task-edit {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 24px;
}
