<div class="task-container" *ngIf="!(isEditing$ | async)">
  <span class="checkbox"
    ><input
      type="checkbox"
      id="{{ taskLabelId }}"
      [checked]="completed"
      (change)="onComplete()"
  /></span>
  <label
    for="{{ taskLabelId }}"
    class="task-title"
    title="click to complete this task"
    >{{ task.title }}</label
  >
  <button
    *ngIf="!completed"
    class="button is-small is-info is-outlined edit-btn"
    (click)="onEditBtnClick()"
    aria-label="Edit this task"
    title="Edit this task"
  >
    edit
  </button>

  <button
    class="delete is-medium"
    aria-label="Delete this task"
    title="Delete this task"
    (click)="onDeleteClick()"
  ></button>
</div>

<form
  (submit)="onEditSubmit($event)"
  class="task-container"
  [formGroup]="form"
  *ngIf="isEditing$ | async"
>
  <div class="task-edit">
    <input
      type="text"
      name="title"
      formControlName="title"
      class="task-edit-title"
      #taskEditInput
      aria-label="Task's title"
    />
    <textarea
      name="description"
      formControlName="description"
      class="task-edit-description"
      aria-label="Task's description"
    ></textarea>
  </div>
  <button type="submit" class="button is-small is-info save-btn">
    save
  </button>
</form>
